
<div style="padding-left: 20px; padding-right: 20px">
    <div class="container">
        <h1>New Event</h1>
        <hr/>
        <form name="newEventForm">
            <fieldset>
                <label for="eventName">Event Name:</label>
                <input required ng-model="event.name" id="eventName" type="text" placeholder="Name of your event..."/>
                <label for="eventDate">Event Date:</label>
                <input required ng-model="event.date" id="eventDate" type="date" placeholder="Date of your event..."/>
                <label for="eventTime">Event Time:</label>
                <input ng-model="event.time" id="eventTime" type="time" placeholder="Time of your event..."/>
                <label for="eventLocation">Event Location:</label>
                <input ng-model="event.location.address" id="eventLocation" type="text" placeholder="Address of your event..."/>
                <br/>
                <input ng-model="event.location.city" id="eventCity" type="text" class="input-small" placeholder="City..."/>
                <input ng-model="event.location.provence" id="eventProvence" type="text" class="input-small" placeholder="Provence..."/>

                <label for="eventImageUrl">Image:</label>
                <input ng-model="event.imageUrl" id="eventImageUrl" type="url" class="input-xlarge" placeholder="Url of image..."/>

                <img ng-src="{{event.imageUrl}}" src=""/>
                <br/>
                <br/>
                <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
                <button type="button" ng-click="cancelEvent()" class="btn-default">Cancel</button>
            </fieldset>
        </form>
    </div>
</div>